body {
margin: 0;
padding: 0;
}



header {
 background-color: darkred;
padding: 10px;
text-align: center;
color: gold;
}

main{
background-color: aquamarine;
padding: 10px; 
text-align: center;
color: gold;
}

ul{
    list-style-type: none;
}

footer{
background-color: green;
padding: 10px;
text-align: center;
color: gold;
position: fixed;
width: 100%;
bottom: 0;
}